* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  padding: 10px;
  text-align: center;
}
h4 {
  padding: 10px;
  text-align: center;
}
.container {
  margin-top: 10px;
}
.form-inline {
  margin-left: 60px;
}
.gifArea {
  width: 40px;
  height: 40px;
  float: center;
  margin-top: 10px;
}
.btn {
  margin: 8px;
}
.gifArea {
  clear: both;
  display: inline;
  flex-wrap: wrap;
}
